hunt
build/win32-qvm/vm/*.*

*.cbp
*.layout

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch
*.cbp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
build/win32-qvm/vm/game/ai_chat.asm
build/win32-qvm/vm/game/ai_cmd.asm
build/win32-qvm/vm/game/ai_dmnet.asm
build/win32-qvm/vm/game/ai_dmq3.asm
build/win32-qvm/vm/game/ai_main.asm
build/win32-qvm/vm/game/ai_team.asm
build/win32-qvm/vm/game/ai_vcmd.asm
build/win32-qvm/vm/game/g_active.asm
build/win32-qvm/vm/game/g_arenas.asm
build/win32-qvm/vm/game/g_bot.asm
build/win32-qvm/vm/game/g_client.asm
build/win32-qvm/vm/game/g_cmds.asm
build/win32-qvm/vm/game/g_combat.asm
build/win32-qvm/vm/game/g_items.asm
build/win32-qvm/vm/game/g_main.asm
build/win32-qvm/vm/game/g_mem.asm
build/win32-qvm/vm/game/g_misc.asm
build/win32-qvm/vm/game/g_missile.asm
build/win32-qvm/vm/game/g_mover.asm
build/win32-qvm/vm/game/g_session.asm
build/win32-qvm/vm/game/g_spawn.asm
build/win32-qvm/vm/game/g_svcmds.asm
build/win32-qvm/vm/game/g_syscalls.asm
build/win32-qvm/vm/game/g_target.asm
build/win32-qvm/vm/game/g_team.asm
build/win32-qvm/vm/game/g_trigger.asm
build/win32-qvm/vm/game/g_utils.asm
build/win32-qvm/vm/game/g_weapon.asm
build/win32-qvm/vm/ui.jts
build/win32-qvm/vm/ui.qvm
build/win32-qvm/vm/ui/ui.jts
build/win32-qvm/vm/ui/ui_servers2.asm
