.gitignore

openhunt.layout
openhunt.cbp
compile.bat.lnk

build\win32-qvm\openhunt.pk3
*.qvm
*.jts
*.map
build\win32-qvm\cgame\*.asm
build\win32-qvm\game\*.asm
build\win32-qvm\ui\*.asm


hunt\baseq3\*.*
hunt\pk3cache.dat
hunt\huntmod\q3config.cfg


hunt/pk3cache.dat
hunt/baseq3/pak0.pk3
hunt/baseq3/pak1.pk3
hunt/baseq3/pak2.pk3
hunt/baseq3/pak3.pk3
hunt/baseq3/pak4.pk3
hunt/baseq3/pak5.pk3
hunt/baseq3/pak6.pk3
hunt/baseq3/pak7.pk3
hunt/baseq3/pak8.pk3
hunt/huntmod/games.log
hunt/huntmod/openhunt.pk3
hunt/huntmod/openhunt.pk3
hunt/huntmod/q3config.cfg
hunt/huntmod/q3history
hunt/huntmod/openhunt.pk3
hunt/huntmod/openhunt.pk3
hunt/baseq3/q3key
hunt/baseq3/q3config_server.cfg
hunt/baseq3/q3config.cfg
hunt/baseq3/pak9tup.pk3
hunt/baseq3/pak8a.pk3
hunt/baseq3/games.log
hunt/huntmod/openhunt.pk3
build/win32-qvm/vm/ui/ui_video.asm
build/win32-qvm/vm/ui/ui_teamorders.asm
build/win32-qvm/vm/ui/ui_team.asm
build/win32-qvm/vm/ui/ui_startserver.asm
build/win32-qvm/vm/ui/ui_spskill.asm
build/win32-qvm/vm/ui/ui_sppostgame.asm
build/win32-qvm/vm/ui/ui_splevel.asm
build/win32-qvm/vm/ui/ui_specifyserver.asm
build/win32-qvm/vm/ui/ui_sparena.asm
build/win32-qvm/vm/ui/ui_sound.asm
build/win32-qvm/vm/ui/ui_setup.asm
build/win32-qvm/vm/ui/ui_servers2.asm
build/win32-qvm/vm/ui/ui_serverinfo.asm
build/win32-qvm/vm/ui/ui_saveconfig.asm
build/win32-qvm/vm/ui/ui_removebots.asm
build/win32-qvm/vm/ui/ui_qmenu.asm
build/win32-qvm/vm/ui/ui_preferences.asm
build/win32-qvm/vm/ui/ui_playersettings.asm
build/win32-qvm/vm/ui/ui_players.asm
build/win32-qvm/vm/ui/ui_playermodel.asm
build/win32-qvm/vm/ui/ui_options.asm
build/win32-qvm/vm/ui/ui_network.asm
build/win32-qvm/vm/ui/ui_mods.asm
build/win32-qvm/vm/ui/ui_mfield.asm
build/win32-qvm/vm/ui/ui_menu.asm
build/win32-qvm/vm/ui/ui_main.asm
build/win32-qvm/vm/ui/ui_loadconfig.asm
build/win32-qvm/vm/ui/ui_ingame.asm
build/win32-qvm/vm/ui/ui_gameinfo.asm
build/win32-qvm/vm/ui/ui_display.asm
build/win32-qvm/vm/ui/ui_demo2.asm
build/win32-qvm/vm/ui/ui_credits.asm
build/win32-qvm/vm/ui/ui_controls2.asm
build/win32-qvm/vm/ui/ui_connect.asm
build/win32-qvm/vm/ui/ui_confirm.asm
build/win32-qvm/vm/ui/ui_cinematics.asm
build/win32-qvm/vm/ui/ui_cdkey.asm
build/win32-qvm/vm/ui/ui_atoms.asm
build/win32-qvm/vm/ui/ui_addbots.asm
build/win32-qvm/vm/ui/q_shared.asm
build/win32-qvm/vm/ui/q_math.asm
build/win32-qvm/vm/ui/bg_misc.asm
build/win32-qvm/vm/ui/bg_lib.asm
build/win32-qvm/vm/game/q_shared.asm
build/win32-qvm/vm/game/q_math.asm
build/win32-qvm/vm/game/g_weapon.asm
build/win32-qvm/vm/game/g_utils.asm
build/win32-qvm/vm/game/g_unlagged.asm
build/win32-qvm/vm/game/g_trigger.asm
build/win32-qvm/vm/game/g_team.asm
build/win32-qvm/vm/game/g_target.asm
build/win32-qvm/vm/game/g_syscalls.asm
build/win32-qvm/vm/game/g_svcmds.asm
build/win32-qvm/vm/game/g_spawn.asm
build/win32-qvm/vm/game/g_session.asm
build/win32-qvm/vm/game/g_mover.asm
build/win32-qvm/vm/game/g_missile.asm
build/win32-qvm/vm/game/g_misc.asm
build/win32-qvm/vm/game/g_mem.asm
build/win32-qvm/vm/game/g_main.asm
build/win32-qvm/vm/game/g_items.asm
build/win32-qvm/vm/game/g_combat.asm
build/win32-qvm/vm/game/g_cmds.asm
build/win32-qvm/vm/game/g_client.asm
build/win32-qvm/vm/game/g_bot.asm
build/win32-qvm/vm/game/g_arenas.asm
build/win32-qvm/vm/game/g_active.asm
build/win32-qvm/vm/game/bg_slidemove.asm
build/win32-qvm/vm/game/bg_pmove.asm
build/win32-qvm/vm/game/bg_misc.asm
build/win32-qvm/vm/game/bg_lib.asm
build/win32-qvm/vm/game/ai_vcmd.asm
build/win32-qvm/vm/game/ai_team.asm
build/win32-qvm/vm/game/ai_main.asm
build/win32-qvm/vm/game/ai_dmq3.asm
build/win32-qvm/vm/game/ai_dmnet.asm
build/win32-qvm/vm/game/ai_cmd.asm
build/win32-qvm/vm/game/ai_chat.asm
build/win32-qvm/vm/cgame/q_shared.asm
build/win32-qvm/vm/cgame/q_math.asm
build/win32-qvm/vm/cgame/cg_weapons.asm
build/win32-qvm/vm/cgame/cg_view.asm
build/win32-qvm/vm/cgame/cg_tssfile.asm
build/win32-qvm/vm/cgame/cg_tss.asm
build/win32-qvm/vm/cgame/cg_snapshot.asm
build/win32-qvm/vm/cgame/cg_servercmds.asm
build/win32-qvm/vm/cgame/cg_scoreboard.asm
build/win32-qvm/vm/cgame/cg_predict.asm
build/win32-qvm/vm/cgame/cg_playlist.asm
build/win32-qvm/vm/cgame/cg_playerstate.asm
build/win32-qvm/vm/cgame/cg_players.asm
build/win32-qvm/vm/cgame/cg_marks.asm
build/win32-qvm/vm/cgame/cg_main.asm
build/win32-qvm/vm/cgame/cg_localents.asm
build/win32-qvm/vm/cgame/cg_info.asm
build/win32-qvm/vm/cgame/cg_event.asm
build/win32-qvm/vm/cgame/cg_ents.asm
build/win32-qvm/vm/cgame/cg_effects.asm
build/win32-qvm/vm/cgame/cg_drawtools.asm
build/win32-qvm/vm/cgame/cg_draw.asm
build/win32-qvm/vm/cgame/cg_consolecmds.asm
build/win32-qvm/vm/cgame/bg_slidemove.asm
build/win32-qvm/vm/cgame/bg_pmove.asm
build/win32-qvm/vm/cgame/bg_misc.asm
build/win32-qvm/vm/cgame/bg_lib.asm
openhunt/autoexec.cfg
openhunt/description.txt
openhunt/docs/hellmodels.txt
openhunt/docs/history.txt
openhunt/docs/manual.txt
openhunt/docs/readme.txt
openhunt/docs/readme_efh02.txt
openhunt/docs/readme_music.txt
openhunt/docs/readme_ZaRR.txt
openhunt/docs/tutorial.txt
openhunt/docs/what is hunt mod.txt
openhunt/hellmodels.cfg
openhunt/huntpak0.pk3
openhunt/huntpak1.pk3
openhunt/playlist.cfg
openhunt/templates/default.tmpl
openhunt/tss/ctf_juhox_maxforce.tss
openhunt/tss/ctf_juhox_pliers.tss
openhunt/tss/ctf_juhox_powerpliers.tss
openhunt/tss/ctf_juhox_simple.tss
openhunt/tss/tdm_juhox_crowd.tss
openhunt/tss/tdm_juhox_maxforce.tss
openhunt/tss/tdm_juhox_pliers.tss
