// templates for the Global Hall of Fame
deftemplate "name\GHoF: Fragfest - 1 Player Score Challenge\gt\8\map\pro-q3dm6\mp\1\mip\1\bh\f300\fl\f1\tl\d0\art\f999\rd\d0\gs\f0\ff\d0\mim\f25\mam\f150\mpt\f0\msd\f2000\mhs\f5\mg\f10\mt\f0\mbr\f0\mph\d0\st\d0\ni\d0\nhr\f1\af\d1\ldl\d0\gh\f2\dmf\f0\grv\f800\spd\f320\kb\f1000\ht\1\hn\fragfest_sc1p"
deftemplate "name\GHoF: Fragfest - 2 Players Score Challenge\gt\8\map\pro-q3dm6\mp\2\mip\2\bh\f300\fl\f2\tl\d0\art\f999\rd\d0\gs\f0\ff\d0\mim\f30\mam\f160\mpt\f0\msd\f2000\mhs\f7\mg\f10\mt\f0\mbr\f0\mph\d0\st\d0\ni\d0\nhr\f1\af\d1\ldl\d0\gh\f2\dmf\f0\grv\f800\spd\f320\kb\f1000\ht\1\hn\fragfest_sc2p"
deftemplate "name\GHoF: Fragfest - 3 Players Score Challenge\gt\8\map\pro-q3dm6\mp\3\mip\3\bh\f300\fl\f3\tl\d0\art\f999\rd\d0\gs\f0\ff\d0\mim\f35\mam\f170\mpt\f0\msd\f2000\mhs\f9\mg\f10\mt\f0\mbr\f0\mph\d0\st\d0\ni\d0\nhr\f1\af\d1\ldl\d0\gh\f2\dmf\f0\grv\f800\spd\f320\kb\f1000\ht\1\hn\fragfest_sc3p"
deftemplate "name\GHoF: Fragfest - 4-8 Players Score Challenge\gt\8\map\pro-q3dm6\mp\8\mip\4\bh\f300\fl\f4\tl\d0\art\f999\rd\d0\gs\f0\ff\d0\mim\f40\mam\f200\mpt\f0\msd\f2000\mhs\f11\mg\f10\mt\f0\mbr\f0\mph\d0\st\d0\ni\d0\nhr\f1\af\d1\ldl\d0\gh\f2\dmf\f0\grv\f800\spd\f320\kb\f1000\ht\1\hn\fragfest_sc4p"
deftemplate "name\GHoF: Run the Gauntlet - 1 Player Time Challenge\gt\8\map\q3dm12\mp\1\mip\1\bh\f300\fl\f1\tl\d0\art\f15\rd\d0\gs\f1\ff\d0\mim\f30\mam\f60\mpt\f0\msd\f3000\mhs\f30\mg\f20\mt\f0\mbr\f0\mph\d0\st\d0\ni\d0\nhr\f1\af\d1\ldl\d0\gh\f2\dmf\f0\grv\f800\spd\f320\kb\f1000\ht\2\hn\run_the_gauntlet_tc1p"
deftemplate "name\GHoF: Run the Gauntlet - 2 Players Time Challenge\gt\8\map\q3dm7\mp\2\mip\2\bh\f300\fl\f1\tl\d0\art\f15\rd\d0\gs\f1\ff\d0\mim\f25\mam\f50\mpt\f0\msd\f5000\mhs\f30\mg\f20\mt\f0\mbr\f0\mph\d0\st\d0\ni\d0\nhr\f1\af\d1\ldl\d0\gh\f2\dmf\f0\grv\f800\spd\f320\kb\f1000\ht\2\hn\run_the_gauntlet_tc2p"
deftemplate "name\GHoF: Run the Gauntlet - 3 Players Time Challenge\gt\8\map\q3dm7\mp\3\mip\3\bh\f300\fl\f1\tl\d0\art\f15\rd\d0\gs\f1\ff\d0\mim\f30\mam\f60\mpt\f0\msd\f5000\mhs\f40\mg\f20\mt\f0\mbr\f0\mph\d0\st\d0\ni\d0\nhr\f1\af\d1\ldl\d0\gh\f2\dmf\f0\grv\f800\spd\f320\kb\f1000\ht\2\hn\run_the_gauntlet_tc3p"
deftemplate "name\GHoF: Run the Gauntlet - 4-8 Players Time Challenge\gt\8\map\q3dm7\mp\8\mip\4\bh\f300\fl\f1\tl\d0\art\f15\rd\d0\gs\f1\ff\d0\mim\f35\mam\f70\mpt\f0\msd\f5000\mhs\f50\mg\f20\mt\f0\mbr\f0\mph\d0\st\d0\ni\d0\nhr\f1\af\d1\ldl\d0\gh\f2\dmf\f0\grv\f800\spd\f320\kb\f1000\ht\2\hn\run_the_gauntlet_tc4p"
deftemplate "name\GHoF: 15 Minutes - 1 Player Score Challenge\gt\8\map\pro-q3dm6\mp\1\mip\1\bh\f300\fl\f1\tl\f15\art\f999\rd\d0\gs\f0\ff\d0\mim\f25\mam\f100\mpt\f15\msd\f2000\mhs\f5\mg\f10\mt\f0\mph\f10\mbr\f1\st\d0\ni\f1\nhr\d0\af\d1\ldl\d0\gh\f4\dmf\f0\grv\f800\spd\f320\kb\f1000\ht\1\hn\15min_sc1p"
deftemplate "name\GHoF: 15 Minutes - 2 Players Score Challenge\gt\8\map\pro-q3dm6\mp\2\mip\2\bh\f300\fl\f2\tl\f15\art\f999\rd\d0\gs\f0\ff\d0\mim\f30\mam\f110\mpt\f20\msd\f2000\mhs\f7\mg\f10\mt\f0\mph\f10\mbr\f1\st\d0\ni\f1\nhr\d0\af\d1\ldl\d0\gh\f4\dmf\f0\grv\f800\spd\f320\kb\f1000\ht\1\hn\15min_sc2p"
deftemplate "name\GHoF: 15 Minutes - 3 Players Score Challenge\gt\8\map\pro-q3dm6\mp\3\mip\3\bh\f300\fl\f3\tl\f15\art\f999\rd\d0\gs\f0\ff\d0\mim\f35\mam\f120\mpt\f25\msd\f2000\mhs\f9\mg\f10\mt\f0\mph\f10\mbr\f1\st\d0\ni\f1\nhr\d0\af\d1\ldl\d0\gh\f4\dmf\f0\grv\f800\spd\f320\kb\f1000\ht\1\hn\15min_sc3p"
deftemplate "name\GHoF: 15 Minutes - 4-8 Players Score Challenge\gt\8\map\pro-q3dm6\mp\8\mip\4\bh\f300\fl\f4\tl\f15\art\f999\rd\d0\gs\f0\ff\d0\mim\f40\mam\f150\mpt\f30\msd\f2000\mhs\f11\mg\f10\mt\f0\mph\f10\mbr\f1\st\d0\ni\f1\nhr\d0\af\d1\ldl\d0\gh\f4\dmf\f0\grv\f800\spd\f320\kb\f1000\ht\1\hn\15min_sc4p"
// additional templates
deftemplate "name\Survival Training\gt\8\map\Q3DM5\bh\d300\fl\d1\tl\d0\art\d0\rd\d0\gs\d0\ff\d0\st\d0\ni\d0\nhr\d1\af\d1\ldl\d0\mim\d0\mam\d200\mpt\d0\mph\d10\msd\d1500\mhs\d5\mg\d10\mt\d5\gh\d4\dmf\d0\ht\1\hn\survival_training"
deftemplate "name\Save the Universe 'Traditional'\gt\8\map\Q3DM12\bh\d300\fl\d3\tl\d0\art\d10\rd\d0\gs\d0\ff\d0\st\d0\ni\d0\nhr\d1\af\d1\ldl\d0\gh\d2\mim\d5\mam\d50\mpt\d0\msd\d5000\mhs\d100\mg\d5\dmf\d0"
deftemplate "name\Save the Universe 'Nightmare'\gt\8\map\Q3DM2\bh\d300\fl\d3\tl\d0\art\d30\rd\d0\gs\d0\ff\d0\st\d0\ni\d0\nhr\d1\af\d1\ldl\d0\gh\d2\mim\d0\mam\d15\mpt\d0\msd\d5000\mhs\d100\mg\d25\dmf\d0"
deftemplate "name\Save the Universe 'Action'\gt\8\map\Q3DM11\bh\d300\fl\d3\tl\d0\art\d20\rd\d0\gs\d0\ff\d0\st\d0\ni\d0\nhr\d1\af\d1\ldl\d0\gh\d2\mim\d0\mam\d200\mpt\d0\msd\d2000\mhs\d5\mg\d5\dmf\d0"
deftemplate "name\Running Man - 1 Player Speed Challenge\gt\9\map\efh01\mp\1\mip\1\bh\f300\fl\f1\tl\d0\dl\f2000\rd\d0\gs\f0\ff\d0\che\f1\mlo\f30\mhs\f5\mg\f10\mt\f5\mph\d0\st\d0\ni\f1\nhr\f1\af\d1\ldl\d0\ht\4\hn\running_man1\dmf\f0\gh\f0\grv\f800\spd\f320\kb\f1000"
deftemplate "name\Running Man - 2 Players Speed Challenge\gt\9\map\efh01\mp\2\mip\2\bh\f300\fl\f1\tl\d0\dl\f2000\rd\d0\gs\f0\ff\d0\che\f1\mlo\f30\mhs\f7\mg\f10\mt\f5\mph\d0\st\d0\ni\f1\nhr\f1\af\d1\ldl\d0\ht\4\hn\running_man2\dmf\f0\gh\f0\grv\f800\spd\f320\kb\f1000"
deftemplate "name\Running Man - 3 Players Speed Challenge\gt\9\map\efh01\mp\3\mip\3\bh\f300\fl\f1\tl\d0\dl\f2000\rd\d0\gs\f0\ff\d0\che\f1\mlo\f30\mhs\f9\mg\f10\mt\f5\mph\d0\st\d0\ni\f1\nhr\f1\af\d1\ldl\d0\ht\4\hn\running_man3\dmf\f0\gh\f0\grv\f800\spd\f320\kb\f1000"
deftemplate "name\Running Man - 4-8 Players Speed Challenge\gt\9\map\efh01\mp\8\mip\4\bh\f300\fl\f1\tl\d0\dl\f2000\rd\d0\gs\f0\ff\d0\che\f1\mlo\f30\mhs\f11\mg\f10\mt\f5\mph\d0\st\d0\ni\f1\nhr\f1\af\d1\ldl\d0\ht\4\hn\running_man4\dmf\f0\gh\f0\grv\f800\spd\f320\kb\f1000"
